h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    background-color: var(--primary-background-color);
}